{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-white">

            <div class="container-fluid">
                <button
                        class="navbar-toggler"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#navbarExample01"
                        aria-controls="navbarExample01"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                >
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarExample01">

                </div>
            </div>
        </nav>
        <!-- Navbar -->

        <!-- Background image -->
        <div
                class="p-5 text-center bg-image "
                style="background-image: url('https://d1csarkz8obe9u.cloudfront.net/posterpreviews/caribbean-beach-zoom-background-templates-design-60f26e16e7b738bd2c396629143c6700_screen.jpg?ts=1589093206');
background-size: cover;background-position: center;height: 400px;"
        >

            <div class="mask" >
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-white">
                        <h1 class="mb-3">Bienvenue</h1>

                        <a class="btn btn-outline-light btn-lg" href="/destinations" role="button"
                        >Destinations</a
                        >
                    </div>
                </div>
            </div>
        </div>
        <!-- Background image -->
    </header>
    <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet aperiam asperiores distinctio doloribus
        eos fugiat harum iste libero, maxime necessitatibus optio pariatur placeat possimus praesentium quam quas, qui,
        reiciendis sint suscipit tempore veritatis voluptates. Architecto facilis officiis omnis sunt?</P>
    <P>A ad
    alias animi architecto at, consectetur, dignissimos doloremque earum eveniet harum iure laboriosam molestias nostrum
    quas repellat repellendus temporibus tenetur voluptas voluptates voluptatum. Animi dicta doloremque doloribus, eos
    et fugiat incidunt ipsam laborum, modi recusandae rem velit, veniam voluptatem!</P>
    <P>Amet autem delectus eaque
    earum ipsam, nisi odio perferendis possimus quae, sapiente sit, suscipit. Illo natus praesentium quidem quos
    repellendus suscipit ullam? Amet at delectus distinctio doloremque, et harum hic ipsum, laudantium libero modi nihil
    odit perferendis quae quibusdam, quos.</P>
    <P>Ab, accusamus asperiores ducimus nam nostrum perspiciatis praesentium
    repellat, rerum sint unde voluptatem voluptates! Ducimus eaque fuga itaque magnam nostrum, perferendis rem rerum
    saepe! Accusantium assumenda consequuntur et inventore iste porro qui, sint tempora vero voluptates. Explicabo iusto
    non voluptates!</P>
    <P>A doloribus ipsam possimus vel! Aliquam delectus expedita nemo perferendis quo. Doloribus ea
    expedita illum ipsa nihil quas rem! Ab consequuntur cupiditate delectus dicta eum impedit inventore iste iure
    necessitatibus, nemo pariatur perferendis sapiente unde veniam voluptate voluptates voluptatibus, voluptatum!</P>
{% endblock %}
