<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

        {% block stylesheets %}


        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <img src="https://cdn.domestika.org/c_fit,dpr_auto,f_auto,t_base_params,w_820/v1593108098/content-items/005/019/347/550_X_370-01-01-original.jpg?1593108098" alt="" width="10%">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link " href="{{ path('destinations_new') }}">Ajouter</a>
                </li>
                {#<li class="nav-item active">
                    <a class="btn btn-outline-success" href="{{ path('destinations_edit', {'id': destination.id}) }}">edit</a>
                </li>
#}

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>


    <div class="container" >
        {% block body %}{% endblock %}
    </div>
    <footer class="text-center text-white" style="background-color: #caced1;">
        <!-- Grid container -->
        <div class="container p-4">
            <!-- Section: Images -->
            <section class="">
                <div class="row">
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div
                                class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                data-ripple-color="light"
                        >
                            <img
                                    src="https://mdbootstrap.com/img/new/fluid/city/113.jpg"
                                    class="w-100"
                            />
                            <a href="#!">
                                <div
                                        class="mask"
                                        style="background-color: rgba(251, 251, 251, 0.2);"
                                ></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div
                                class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                data-ripple-color="light"
                        >
                            <img
                                    src="https://mdbootstrap.com/img/new/fluid/city/111.jpg"
                                    class="w-100"
                            />
                            <a href="#!">
                                <div
                                        class="mask"
                                        style="background-color: rgba(251, 251, 251, 0.2);"
                                ></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div
                                class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                data-ripple-color="light"
                        >
                            <img
                                    src="https://mdbootstrap.com/img/new/fluid/city/112.jpg"
                                    class="w-100"
                            />
                            <a href="#!">
                                <div
                                        class="mask"
                                        style="background-color: rgba(251, 251, 251, 0.2);"
                                ></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div
                                class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                data-ripple-color="light"
                        >
                            <img
                                    src="https://mdbootstrap.com/img/new/fluid/city/114.jpg"
                                    class="w-100"
                            />
                            <a href="#!">
                                <div
                                        class="mask"
                                        style="background-color: rgba(251, 251, 251, 0.2);"
                                ></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div
                                class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                data-ripple-color="light"
                        >
                            <img
                                    src="https://mdbootstrap.com/img/new/fluid/city/115.jpg"
                                    class="w-100"
                            />
                            <a href="#!">
                                <div
                                        class="mask"
                                        style="background-color: rgba(251, 251, 251, 0.2);"
                                ></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div
                                class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                data-ripple-color="light"
                        >
                            <img
                                    src="https://mdbootstrap.com/img/new/fluid/city/116.jpg"
                                    class="w-100"
                            />
                            <a href="#!">
                                <div
                                        class="mask"
                                        style="background-color: rgba(251, 251, 251, 0.2);"
                                ></div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Section: Images -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
            <a class="text-white" href="#!"> <img src="https://cdn.domestika.org/c_fit,dpr_auto,f_auto,t_base_params,w_820/v1593108098/content-items/005/019/347/550_X_370-01-01-original.jpg?1593108098" alt="" width="5%"></a>
        </div>
        <!-- Copyright -->
    </footer>
    </body>
</html>
